@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Open+Sans+Condensed:wght@300&display=swap');

body {
    font-family: Modern Antiqua;
    font-weight: 300;
    margin: 0;
    padding: 0;
}