@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Open+Sans+Condensed:wght@300&display=swap');

body {
    font-family: Modern Antiqua, sans serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #96258a;
}

h1, h2{
    font-family: Open Sans Condensed, sans serif;
    letter-spacing: 3px;
    font-weight: 900;
    color: #96258a;
    text-transform: uppercase;
}

#title {
    font-family: Modern Antiqua;
    float: left;
    font-size: 500%;
    margin: 35px 0 0 20px;
}

#menu li{
    float: right;
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    margin: 80px 20px 0 0;
}

#menu a {
    text-decoration: none;
    color: #709275;
}

#menu, #title {
    line-height: 75px;
}

#menu a:hover {
    color: #96258a;
    border-bottom: 6px
}

.active {
    color: #96258a;
    border-bottom: 6px  #709275 solid;
}

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#text-overlay, #text-overlay h2 {
    color: #ffffff;
    }

#hero {
    height: 800px;
    width: 100%;
    background-image: url('../images/pexels-zen-chung-5528938.jpg');
    background-size: cover;

    animation-name: hero-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom-out {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);    
    }
}

#text-overlay {
    font-size: 120%;
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 5%;
    background-color: rgba(150, 37, 138, .6);
    top: 150px;
    left: 60px;
    position: absolute;
}

#philosophy {
    height: 800px;
    background-color: #CCBC87;
    overflow: hidden;
}

#philosophy h1 {
    font-family: Modern Antiqua;
    font-size: 400%;
    text-align:center;
    padding-top: 30px;
}

#left-list {
    float:left;
    width: 100%;
    margin-right: 30px;
}

.left-list-title {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 10px;
}

#left-list-title, h2, p {
    text-align: center;
}

#left-list-title, h2 {
    color: #709275
}

#locations {
    height: 600px;
    overflow: hidden;
    background-image: url('../images/pexels-photo-3873912.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#locations h1 {
    font-family: Modern Antiqua;
    font-size: 400%;
    text-align: center;
    padding-top: 30px;
    color: #E7E7E0;
    padding-top: 10px;
}

.meets h2{
    font-family: Open Sans Condensed;
    color: #CCBC87;
    letter-spacing: 3px;
    text-align: center;
}

.meets h3 {
    font-size: 110%;
}

#locations div {
    color: #E7E7E0;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 230px;
    float: left;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

footer {
    height: 75px;
    background-color: #96258a;
    overflow: hidden;
}

.socials {
    text-align: center;
}

.icons {
    color: #E7E7E0;
}

.socials > li {
    display: inline;
    font-size: 250%;
    margin: 1%;
    padding: 8%;
    color:#E7E7E0;
}

.socials > li a:hover {
    color: #709275;
}

#pictures {
    height: 800px;
    clear: both;
    column-count: 5;
    column-gap: 0;
    line-height: 0;
    overflow: hidden;
}

#pictures > img {
    width: 100%;
}

.signup-form {
    margin: 200px;
    color: #CCBC87;
    font-size: 150%;
    background-color: #709275;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    font-family: Open Sans Condensed;
    letter-spacing: 3px;
}

.text-input {
    background: transparent;
    color: #E7E7E0;
    width: 100%;
    height: 25px;
    margin: 5px 0 30px 0;
    border: 1px solid #fafafa;
    border-radius: 8px;
}

.text-input:hover {
    color: #96258a;
}

.join-button {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color:#E7E7E0;
    color: #96258a;
    display: block;
    font-family: Modern Antiqua;
    letter-spacing: 3px;
}

.join-button:hover {
    background-color: #CCBC87;
    color: #96258a;
}

#form-background {
    clear: both;
    height: 600px;
    background-color: #709275;
}