@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Open+Sans+Condensed:wght@300&display=swap');

body {
    font-family: Modern Antiqua;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #96258a;
}

h1, h2{
    font-family: Modern Antiqua;
    letter-spacing: 3px;
    font-weight: 1000;
}

#title {
    float: left;
    font-size: 500%;
    margin-top: 10px;
}

#menu li{
    float: right;
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    margin: 80px 20px 0 0;
}

